<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <%= msg %>
  </div> 
<% end %>
<div class="container">
  <div class="profile col-sm-4">
    <div class="profile-avatar">
        <%= image_tag(@user.avatar_url.to_s) %>
    </div>
    <div class="profile-detail">
      <span>Email: <%= @user.email %></span>
    </div>
    <div class="">
      <%= link_to 'Edit Profile', user_path(id: current_user.id) %>
    </div>
  </div>
  <div class="post col-sm-8">
    <% @user_posts.each do |post| %>
      <!--article-->
      <div class="article col-md-12">
        <div class="user">
          <div class="avatar">
            <%= image_tag(post.user.avatar_url.to_s) %>
          </div>
          <div class="name">
            <%= post.user.email %>
          </div>
          <div class="time">
            <small><%= time_ago_in_words(post.created_at) %> ago</small>
          </div>
        </div>
        <div class="post-content">
          <p><%= post.content %></p>
        </div>
        <div class="images">
          <%= image_tag(post.image_url.to_s, alt: 'no picture') %>
        </div>
        <div class="like" id="post-<%=post.id%>">
         <%= render 'shared/like', post: post  %>
        </div>
        <div class="comment-<%=post.id%>" id="comment-<%=post.id%>">
          <%= render 'shared/comment', post: post %>
        </div>
      </div>
    <!--//article-->
  <% end %>
  </div>
</div>