<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <%= msg %>
  </div> 
<% end %>
<div class="container">
  <% @posts.each do |post| %>
    <!--article-->
      <div class="article col-md-12">
        <div class="user">
          <div class="avatar">
            <%= image_tag(post.user.avatar_url.to_s) %>
          </div>
          <div class="name">
            <%= post.user.email %>
          </div>
          <div class="time">
            <small><%= time_ago_in_words(post.created_at) %> ago</small>
          </div>
        </div>
        <div class="post-content">
          <p><%= post.content %></p>
        </div>
        <div class="images">
          <%= image_tag(post.image_url.to_s, alt: 'no picture') %>
        </div>
        <div class="like" id="post-<%=post.id%>">
         <%= render 'shared/like', post: post  %>
        </div>
        <div class="comment-<%=post.id%>" id="comment-<%=post.id%>">
          <%= render 'shared/comment', post: post %>
        </div>
      </div>
    <!--//article-->
  <% end %>
  <hr/>
  <div class="paginate">
    <%= paginate @posts %> 
  </div>
</div>