<!DOCTYPE html>
<html>
  <head>
    <title>Backendtraining</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<% if user_signed_in? %>
  <%= render 'share/headerlogin', current_user_login: current_user %>
<%end%>

  <body>
    <%= yield %>
  </body>
</html>
